<h3>Se connecter</h3>
<form action="/admin" method="POST">
  <label for="username">Nom</label>
  <input type="text" name="username" id="username">
  <label for="password">Mot de Passe</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Se connecter" class="btn">
</form>

<!-- <h3>S'inscrire</h3>
<form action="/register" method="POST">
  <label for="username">Nom</label>
  <input type="text" name="username" id="username">
  <label for="password">Mot de Passe</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="S'inscrire" class="btn">
</form> -->