<div class="author">
  <h1 class="author__heading">Bonjour, je suis Julien.</h1>
  <p class="author__body">Bienvenue sur mon blog!</p>
</div>

<img src="/img/hero-img.jpg" alt="Des gens travaillant" class="hero-img">

<section class="articles">
  <h2 class="articles__heading">Postes les plus récent</h2>

  <ul class="articles-ul">

    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span><%= post.createAt.toDateString() %></span>
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; Voir les postes plus ancien</a>
  <% } %>
 
</section>